* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* body {
    max-width: 1440px;
  } */

  @font-face {
      font-family: 'Press Start2P';
      src: url('../fonts/PressStart2P.ttf') format('truetype');
  }
